<% include ./partials/header%>


<div class="text-center mt-5">
<div class="login-page">
  <div class="form">
  
    <form class="login-form" action="/login" method="POST">
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
  </div>
</div>

 
</div> 


<% include ./partials/footer%>
