<% include ./partials/header%>


<div class="text-center mt-5">
  <div class="login-page">
    <div class="form">
      <form class="register-form" action="/register"  method="POST">
       
        <input type="text" name="fullname" placeholder="Full Name"/>
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
      
        <button>Register</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
      </div>
    </div>
  </div>
  

  <% include ./partials/footer%>
